@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Merriweather", sans-serif;
    color: #fff;
    background: url("./images/pexels-daniel-watson-762679.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#quote-box {
    background-color: rgba(0, 0, 0, 0.5);
    width: 40rem;
    height: auto;
    margin: 10rem auto;
    padding: 3rem;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    border: 2px dashed rgb(0, 0, 0);
}

#text {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    line-height: 2rem;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

#speaker {
    display: flex;
    margin-top: 1em;
    color: #fff;
    font-weight: bold;
}

#randomQuoteBtn {
    background: #8bc06f;
    border: none;
    padding: 0.7rem 1rem;
    font-weight: bold;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    margin-top: 2em;
    color: #fff;
}

#randomQuoteBtn:hover {
    opacity: 0.9;
}

span {
    color: #8bc06f;
    font-size: 2em;
    margin-top: 0.5em;
}
